.container {

}
.container .heroes {
    display: flex;
    flex-wrap: wrap; /* 줄바꿈 */
    justify-content: center; /* 이미지 가운데 정렬 */
    background-color: orange;
    max-width: 700px;  /* 최대 width 제한 */
    margin: auto;
}

.container .heroes .hero {
    width: 80px;
    height: 84px;
    margin: 4px;
    background-color: #555;
}

.container .heroes .hero .image{
    
}