.container {

}
.container .heroes {
    display: flex;
    flex-wrap: wrap; /* 줄바꿈 */
    justify-content: center; /* 이미지 가운데 정렬 */
    background-color: orange;
    max-width: 700px;  /* 최대 width 제한 */
    margin: 0 auto;
    padding: 40px 20px;
}

.container .heroes .hero {
    width: 80px;
    height: 84px;
    margin: 4px;
    border: 3px solid #ffffff;
    border-radius: 10px; 
    box-sizing: border-box; /*border나 padding이 들어갔을 때 요소의 크기가 커지지 않도록 크기 픽스*/
    background-color: #555;
    transform: skewX(-14deg); /*각도*/
    transition: 0.1s;
}

.container .heroes .hero:hover {
    background-color: #ff9c00;
    transform: skewX(-14deg) scale(1.3);  /*마우스가 올라갔을 때 크기가 커짐*/
    z-index: 1; /*제일 앞으로 나오게 함*/
    

}

.container .heroes .hero .image{
    
}